
<div class="flex items-center relative h-full">
  <div class="flex flex-col justify-center items-center m-auto">
    <div class="flex flex-col relative m-auto justify-center items-center">
      <div class="text-9xl font-extrabold text-white tracking-widest relative">
        404
      </div>
      <div class="bg-[#FF6A3D] h-6 px-2 text-sm rounded rotate-12 absolute inset-4 flex justify-self-start justify-center m-auto">
        Página no encontrada
      </div>
    </div>
    <div class="max-w-sm text-center text-xl text-black font-semibold my-4">
      La página que estás buscando pudo haber sido eliminada, cambió su nombre, o está temporalmente fuera de servicio.
    </div>
    <button routerLink="/productos" class="border-t border-l border-b-4 border-r-4 hover:border-b hover:border-r border-[#FF6A3D] py-3 px-8 text-sm text-[#FF6A3D] bg-[#1A2238] duration-300">
      Regresar
    </button>
  </div>
</div>

