


<section class=" bg-gray-50 dark:bg-gray-900 block h-auto relative py-0 "> 
    <div class=" container mx-auto px-2">
        <div class="px-[5%] flex flex-wrap justify-between items-stretch">
        
            <div *ngFor="let i of mostrarsl" class="bg white p-4 rounded-2xl shadow-xl flex flex-col gap-y-2 max-w-xs">
                <img src="{{i.imagen}}" alt="" class="w-full aspect-square object-cover rounded-3xl">
                <div class="flex flex-col">
                  <div class="text-xl font-bold">{{i.nombre}}</div>
                  <div class="text-slate-500">{{i.descripcion?.toString()?.split(' ', 12).join(' ') + '...'}} <button type="button" (click)="verproduct(i)" class="text-sm text-blue-900 inline">
                    >> Ver más...
                  </button></div>
                  
                </div>
                <div class="flex justify-between items-center">
                  <div class="text-xl">${{i.precio_proveedor}}</div>
                  <button *ngIf="name !='' "  (click)="AddShoppingCart()" class="bg-slate-900 text-slate-50 rounded-full flex justify-center items-center h-12 w-12 text-2xl hover:bg-sky-700"> <mat-icon>shopping_cart</mat-icon> </button>
                  <button *ngIf="name =='' " (click)="CreateAcount()" class="bg-slate-900 text-slate-50 rounded-full flex justify-center items-center h-12 w-12 text-2xl hover:bg-sky-700"> <mat-icon>shopping_cart</mat-icon> </button>

                </div>
                
            </div>
        </div>
    </div>
    <mat-paginator style-paginator  showFirstLastButtons
    [length]="this.paginador?.length  "
    pageSize="9"
    [pageSizeOptions]="pageSizeOptions"
    (page)="cambioPagina($event)"
    >
    </mat-paginator>
    <footer class="px-2  bottom-0 left-0 z-50 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
  
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{2023}} <a href="" class="hover:underline">Novedades Gamboa</a>. Todos los derechos reservados.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Acerca de</a>
            </li>
      
            <li>
                <a href="#" class="hover:underline">Contactanos</a>
            </li>
        </ul>
    </footer>
  </section>

    